* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Set maximum width for content */
.container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #0d1b2a;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    background-color: #0d1b2a;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 1.1rem;
}

.nav ul li a:hover {
    color: #ff004f !important;
}

.navbar-toggler {
    border: none;
    color: #0d1b2a;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
    transform: translateY(0) rotate(-45deg);
}

/* Animate transition of the hamburger icon */
.navbar-toggler .navbar-toggler-icon {
    transition: all 0.3s ease;
}

/* Hero section */

.hero-container {
    padding-top: 70px;
    align-items: center;
    opacity: 0;
    animation: fadeIn 4s ease-in forwards;
}

.hero-container h1 {
    color: white !important;
    font-family: "Poppins", sans-serif;
}

.hero-container h1 span {
    color: #ff004f;
}

/* Hero Section Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.wrapper {
    display: flex;
    align-items: baseline;
}

.wrapper .static-txt {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.wrapper .dynamic-txts {
    margin-left: -20px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    color: lime;
    font-size: 20px;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 30s steps(5) infinite;
}

.dynamic-txts li {
    position: relative;
}

@keyframes slide {
    100% {
        top: -150px;
    }
}

.dynamic-txts li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0d1b2a;
    animation: typing 6s steps(22) infinite;
}

@keyframes typing {
    40%,
    60% {
        left: calc(100% + 10px);
    }
    100% {
        left: 0;
    }
}

/* Media queries for responsive font size */
@media (max-width: 576px) {
    .wrapper .static-txt,
    .wrapper .dynamic-txts li {
        font-size: 14px;
    }
}

.button-container {
    display: flex;
    size: 25px;
    gap: 30px;
}

@media (max-width: 540px) {
    .button-container {
        flex-direction: column;
        gap: 20px;
    }
}

.img-fluid {
    border-radius: 100px;
}

/*About section*/
#about {
    background-image: url('images/Background-Images/2206_w026_n002_2088b_p1_2088.jpg');
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}

#about h1 {
    margin-top: 16px;
    color: lime;
    font-size: 40px;
}

/* Glass morph effect for p text */
/*About section*/
#about p,
.card-body,
.nav-tabs {
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    padding: 10px;
    margin: 10px auto;
    min-width: 100%;
}

/* Fallback for browsers that do not support backdrop-filter */
@media (prefers-reduced-motion: reduce) {
    #about p,
    .card-body,
    .nav-tabs {
        background-color: rgba(255, 255, 255, 0.85);
        filter: blur(3px);
    }
}

/* Default styles for paragraph text */
#about .text-center {
    padding: 20px;
    color: white;
    font-size: 16px; /* Default font size */
}

/* Media query for medium (md) screens */
@media (min-width: 768px) and (max-width: 991.98px) {
    #about .text-center {
        font-size: 18px; /* Adjust font size for md screens */
    }
}

/* Media query for large (lg) screens */
@media (min-width: 992px) {
    #about .text-center {
        font-size: 20px; /* Adjust font size for lg screens */
    }
}


.custom-btn {
    font-size: 16px;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    border: none;
}

.nav-tabs {
    padding: 10px;
    margin: 10px auto;
    min-width: 100%;
    border-bottom: none;
}

.nav-tabs .nav-item .nav-link {
    color: #ffffff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.7s;
}

.nav-tabs .nav-item .nav-link.active {
    border-color: lime;
    width: 100%;
    display: block;
    text-align: center;
}

/* Hover effect for tab links */
.nav-tabs .nav-item .nav-link:hover {
    color: lime;
}

/* Target text color for experience and education sections */
#experience .card-body,
#education .card-body {
    color: white;
    font-size: larger;
}

/* Target lime color for dates in experience section */
#experience .text-primary {
    color: lime !important;
}

#experience .card-body .text-muted {
    color: white !important;
}

#education .text-secondary {
    color: lime !important;
}

#education .card-body .text-muted {
    color: white !important;
}

/* Certifications Content */
#certifications {
    padding: 50px 0;
}

.row-cols-2 .col,
.row-cols-md-3 .col,
.row-cols-lg-3 .col {
    flex: 0 0 33.333%;
    max-width: 33.333%;
}

.certification-item {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
}

.certification-item img {
    max-width: 100%;
    height: auto;
}

.certification-item:hover img {
    transform: scale(1.1);
}

/* Media queries for responsiveness */
@media (max-width: 576px) {
    .row-cols-md-3 .col,
    .row-cols-lg-3 .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .row-cols-md-3 .col,
    .row-cols-lg-3 .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .row-cols-lg-3 .col {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    .certification-item {
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) {
    .certification-item {
        margin-bottom: 30px;
    }
}

/*Icons*/
.experience-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/* Media query for smaller screens */
@media (max-width: 576px) {
    .experience-icon {
        width: 40px;
        height: 40px;
    }
}
.row-cols-md-4,
.row-cols-lg-5 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 1.3rem;
}

/* Skills Content */
#skills h3 {
    color: white !important;
}

#skills .row-cols-md-3 .col,
#skills .row-cols-lg-3 .col {
    flex: 0 0 33.333%;
    max-width: 33.333%;
}

#skills .p-5 {
    padding: 10px;
}

/* Media queries for responsiveness */
@media (max-width: 576px) {
    #skills .row-cols-md-3 .col,
    #skills .row-cols-lg-3 .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.skill-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    margin-left: 15px;
}

.skill-icon img {
    max-width: 100%;
    max-height: 100%;
}

/* Media queries for smaller screens */
@media (max-width: 576px) {
    .row-cols-md-4 {
        column-count: 2;
        margin-left: 2px;
    }
}

/* Media queries for larger screens */
@media (min-width: 768px) {
    .row-cols-md-4 {
        column-count: 3;
    }

    .row-cols-lg-5 {
        column-count: 4;
    }
}
